doctype html
html
  head
    title= SDK
    meta(charset='utf-8')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='')

    // Add minified styles SRC when production
    //- link(href="css/app.min.css" rel="stylesheet") Production Minified Styles
    link(href='css/app.css' rel='stylesheet')

    link(href='libs/animate/animate.min.css')
    script(src="libs/dz-assets/js/vendor/modernizr.js")

    // Grunt Live Reload >> Remove it when production <<
    script(src="http://localhost:35729/livereload.js")
    block head

  body
    block content

