div(ng-include='\'partials/menucanvas\'')
.main-container
    div(ng-include='\'partials/header\'')
    .row
        .large-12.columns.text-center.htour
            h1  Home, sweet Home...
            h5.subheader Front-end with AngularJS
        a.btour(href="/todos/")
            button.button.alert
                span Let's start 
                i.fa.fa-arrow-right