.main-container
    div(ng-include='\'partials/landing/header\'')
    div(ng-include='\'partials/landing/video\'')
    div(ng-include='\'partials/landing/usar\'')
    div(ng-include='\'partials/landing/sobre\'')
    div(ng-include='\'partials/landing/info\'')
    div(ng-include='\'partials/landing/footer\'')