footer
    .row
        .small-12.medium-6.large-6.columns
            img(src="img/dz_logo02.png", alt="logo_dz_02", class="logo2")
        .small-12.medium-6.large-6.columns
            .row
                .small-6.medium-4.large-4.columns
                    ul
                        li
                            a(href="#") PFÔnibus
                        li
                            a(href="#") Brasjet
                 .small-6.medium-4.large-4.columns
                    ul
                        li
                            a(href="#") Empresa
                        li
                            a(href="#") Blog
                        li
                            a(href="#") Contato
                 .small-12.medium-4.large-4.columns.social
                    ul.inline-list
                        li
                            a(href="#")
                                i.fa.fa-facebook-square.fa-lg
                        li
                           a(href="#")
                                i.fa.fa-twitter.fa-lg
                        li
                            a(href="#")
                                i.fa.fa-instagram.fa-lg
