header
    img(src="img/dz_logo01.png", alt="digitalz logo", class="logo")
    .row
        .large-12.columns.content
            .large-7.columns
                img(src="img/screen.png", alt="Celulares do aplicativo", class="screen")
            .large-5.columns.form
                h3 PFÔnibus facilita seu transporte em Passo Fundo.
                form(name="beta")
                    .row
                        .large-10.large-centered.columns
                            input(type="text", name="nome", placeholder="Nome")
                            input(type="email", name="email", placeholder="Email")
                            input(type="submit", value="Cadastrar-se", class="button alert expand")