header
    img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104830/dz_logo01_wunbz7.png", alt="Fotografo e designer digital em Passo Fundo, RS, Brasil / Perros-Guirec, Bretagne, France - Leonardo da Silva, Digitalz", class="logo")
    .row
        .small-12.medium-12.large-12.columns.content
            .small-12.medium-6.large-7.columns
                img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104864/screen_izeevx.png", alt="Os Passo Fundenses podem consultar as linhas de ônibus com seus celulares no IOS, Android e Windows Fone.", class="screen")
            .small-12.medium-6.large-5.columns.form
                h3 PFÔnibus facilita seu transporte em Passo Fundo.
                form(name="beta")
                    .row
                        .small-10.small-centered.medium-10.large-10.large-centered.columns
                            input(type="text", name="nome", placeholder="Nome")
                            input(type="email", name="email", placeholder="Email")
                            input(type="submit", value="Cadastrar-se", class="button expand alert")