header
    img(src="img/dz_logo01.png", alt="digitalz logo", class="logo")
    .row
        .small-12.medium-12.large-12.columns.content
            .small-12.medium-6.large-7.columns
                img(src="img/screen.png", alt="Celulares do aplicativo", class="screen")
            .small-12.medium-6.large-5.columns.form
                h3 PFÔnibus facilita seu transporte em Passo Fundo.
                form(name="beta")
                    .row
                        .small-10.small-centered.medium-10.large-10.large-centered.columns
                            input(type="text", name="nome", placeholder="Nome")
                            input(type="email", name="email", placeholder="Email")
                            input(type="submit", value="Cadastrar-se", class="button expand alert")