header
    img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104830/dz_logo01_wunbz7.png", alt="Fotografo e designer digital em Passo Fundo, RS, Brasil / Perros-Guirec, Bretagne, France - Leonardo da Silva, Digitalz", class="logo")
    .row
        .small-12.medium-12.large-12.columns.content
            .small-12.medium-6.large-7.columns
                img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104864/screen_izeevx.png", alt="Os Passo Fundenses podem consultar as linhas de ônibus com seus celulares no IOS, Android e Windows Fone.", class="screen")
            .small-12.medium-6.large-5.columns.form
                h3 PFÔnibus facilita seu transporte em Passo Fundo.
                .row
                    .small-12.small-centered.medium-12.large-12.large-centered.columns.betaform
                        p Participe da versão beta do aplicativo
                        a.button.alert(href="/signup")
                            i.fa.fa-sign-in.fa-lg
                            &nbsp; Cadastre-se
                        ul.inline-list
                            li
                                i.fa.fa-windows.fa-4x
                            li
                                i.fa.fa-apple.fa-4x
                            li
                                i.fa.fa-android.fa-4x