.info
    .sistemas
        .row
            .large-12.columns
                h2.text-center Compativel com
                ul.small-block-grid-4
                    li
                        img(src="img/icons_webapp.png", alt="icon 1")
                    li
                        img(src="img/icons_ios.png", alt="icon 2")
                    li
                        img(src="img/icons_android.png", alt="icon 3")
                    li
                        img(src="img/icons_wp.png", alt="icon 4")
    .contato
        .row
            .large-6.columns
                img(src="", alt="logo pfonibus 2")
            .large-6.columns
                p Se você tem uma pergunta ou se você quer comunicar com o equipe do PFÔNIBUS, fique a vontade!
                button.button.success
                    a(href="mailto:digitalz4k@gmail.com")
                        i.fa.fa-envelope Enviar mensagem
    .beta
        .large-6.columns
            img(src="img/splash.png", alt="Celular splash screen")
        .large-6.columns.content
            h2 Participe da versão beta!
            .large-6.columns
                p Cadastre-se agora e seja o primeiro a usar o app! Clique no botão e preencha o formulário. Até logo!
                button.button.alert
                    a(href="#")
                        i.fa.fa-arrow-circle-right Suscreva!