.sobre
    .row
        .large-12.columns
            h3.text-center Saiba mais, veia quem criou o aplicativo PFÔnibus
            .pessoal
                .large-10.columns
                    h4.subheader >_Leonardo da Silva
                        small Designer digital e fotógrafo
                    p  Apaixonado por cinema, efeitos especiais e fotografia, eu desenvolvi minhas capacidades autodidatas de modelagem e animação 3D, produção de vídeo, design gráfico, e desenvolvimento web e móvel. Minha paixão chegou a ser meu trabalho em 2010.
                    ul.inline-list
                        li
                            a(href="#")
                                i.fa.fa-facebook-square
                        li
                            a(href="#")
                                i.fa.fa-twitter
                        li
                            a(href="#")
                                i.fa.fa-instagram
                        li
                            a(href="#")
                                i.fa.fa-pinterest
                        li
                            a(href="#")
                                i.fa.fa-google-plus
                .large-2.columns
                    img(src="img/moi.png", alt="profile picture")
            .pessoal
                .large-10.columns
                    h4.subheader >_ Amarildo Lucas
                        small Desenvolvidor
                    p  Eu sou Amarildo Lucas, estudante de ciências da computação, desenvolvedor mobile para as plataformas iOS tal como ambos Ends (Frontend e Backend)! Amo Objective-C e Rails.
                    ul.inline-list
                        li
                            a(href="#")
                                i.fa.fa-facebook-square
                        li
                            a(href="#")
                                i.fa.fa-twitter
                        li
                            a(href="#")
                                i.fa.fa-instagram
                        li
                            a(href="#")
                                i.fa.fa-medium
                .large-2.columns
                    img(src="img/amarildo.png", alt="profile picture")
