.sobre
    .row
        .small-12.columns
            h3.text-center Saiba mais, veia quem criou o aplicativo PFÔnibus
            .pessoal
                .small-4.medium-2.large-2.columns.right
                    img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104882/moi_na9kue.png", alt="Leonardo da Silva - Passo Fundo, RS, Brasil")
                .small-12.medium-10.large-10.columns
                    h4.subheader Leonardo da Silva
                        small Designer digital e fotógrafo
                    p  Apaixonado por cinema, efeitos especiais e fotografia, eu desenvolvi minhas capacidades autodidatas de modelagem e animação 3D, produção de vídeo, design gráfico, e desenvolvimento web e móvel. Minha paixão chegou a ser meu trabalho em 2010.
                    ul.inline-list
                        li
                            a(href="https://www.facebook.com/leodsirs")
                                i.fa.fa-facebook-square
                        li
                            a(href="http://instagram.com/leodsidz")
                                i.fa.fa-instagram
                        li
                            a(href="http://www.pinterest.com/digitalz")
                                i.fa.fa-pinterest
                        li
                            a(href="http://www.digitalz.com.br")
                                i.fa.fa-link
            .pessoal
                .small-4.medium-2.large-2.columns.right
                    img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104834/amarildo_odw4q3.png", alt="Amarildo Lucas, RJ, Brasil")
                .small-12.medium-10.large-10.columns
                    h4.subheader Amarildo Lucas
                        small Desenvolvedor
                    p  Eu sou Amarildo Lucas, estudante de ciências da computação, desenvolvedor mobile para as plataformas iOS tal como ambos Ends (Frontend e Backend)! Amo Objective-C e Rails.
                    ul.inline-list
                        li
                            a(href="https://www.facebook.com/beezond")
                                i.fa.fa-facebook-square
                        li
                            a(href="https://twitter.com/beezond_inc")
                                i.fa.fa-twitter
                        li
                            a(href="http://instagram.com/iam_amaury")
                                i.fa.fa-instagram
                        li
                            a(href="https://medium.com/@beezond_inc")
                                i.fa.fa-link
