#usar
    .header
        .row
            .large-6.columns.large-centered
                img(src="", alt="pfonibus logo")
                p PFÔnibus facilita seu transporte de ônibus em Passo Fundo e leva as suas linhas e seus horarios favoritos em seus bolsos. E simples assim!
    .etapas
        .row
            .large-12.columns
                h2.text-center Como usar PFÔnibus
                ul.small-block-grid-2
                    li
                        .large-6.columns
                            img(src="img/icons_instalar.png", alt="etapa1")
                        .large-6.columns
                            h5 Instalar
                            p  Baixe e instale o aplicativo no market do seu celular.
                    li
                        .large-6.columns
                            img(src="img/icons_conta.png", alt="etapa2")
                        .large-6.columns
                            h5 Criar uma conta
                            p  Aproveite de todas as funcionalidades criando sua conta.
                    li
                        .large-6.columns
                            img(src="img/icons_pesquisar.png", alt="etapa3")
                        .large-6.columns
                            h5 Pesquisar
                            p  Começa a pesquisar suas linhas e seus horarios favoritos.
                    li
                        .large-6.columns
                            img(src="img/icons_salvar.png", alt="etapa4")
                        .large-6.columns
                            h5 Salvar
                            p  Com uma conta, você pode salvar tudo em seus favoritos.
    .funcionalidade
        .row
            .large-12.large-centered.columns
                h2.text-center Funcionalidades
                ul.small-block-grid-3
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.
                    li
                        h3
                            i.fa.fa-plus.fa-lg
                            ‘Lorem ipsum
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos harum, incidunt suscipit enim ipsa adipisci nihil voluptatum libero cum dignissimos.

