#usar
    .header
        .row
            .large-6.large-centered.columns
                img(src="img/pfonibus01.png", alt="pfonibus logo")
                p PFÔnibus facilita seu transporte de ônibus em Passo Fundo e leva as suas linhas e seus horários favoritos em seus bolsos. É simples assim!
    .etapas
        .row
            .large-12.columns
                h2.text-center Como usar PFÔnibus
                ul.small-block-grid-2
                    li
                        .large-6.columns
                            img(src="img/icons_instalar.png", alt="etapa1")
                        .large-6.columns
                            h5 Instalar
                            p Baixe e instale o aplicativo no market do seu celular.
                    li
                        .large-6.columns
                            img(src="img/icons_conta.png", alt="etapa2")
                        .large-6.columns
                            h5 Criar uma conta
                            p Aproveite todas as funcionalidades criando sua conta.
                    li
                        .large-6.columns
                            img(src="img/icons_pesquisar.png", alt="etapa3")
                        .large-6.columns
                            h5 Pesquisar
                            p Pesquise suas linhas e horários favoritos.
                    li
                        .large-6.columns
                            img(src="img/icons_salvar.png", alt="etapa4")
                        .large-6.columns
                            h5 Salvar
                            p Com uma conta, você pode salvar tudo em seus favoritos.
    .funcionalidade
        .row
            .large-12.large-centered.columns
                h2.text-center Funcionalidades
                ul.small-block-grid-3
                    li
                        h3
                            i.fa.fa-star.fa-lg
                            &nbsp; Favoritos
                        p Não quer perder tempo pesquisando sempre o mesmo ponto? Salve nos seus favoritos!
                    li
                        h3
                            i.fa.fa-flag.fa-lg
                            &nbsp; Acesso rápido
                        p PFÔnibus tem varias telas, você pode ganhar tempo graças a lista de acesso rápido.
                    li
                        h3
                            i.fa.fa-camera.fa-lg
                            &nbsp; Informações
                        p Informar-se é o coraçao do aplicativo. Consulte todas as informações de cada linha na tela detalhada.
                    li
                        h3
                            i.fa.fa-pencil.fa-lg
                            &nbsp; Dê sua opinião
                        p Para melhorar-se, PFÔnibus precisa de você. Mande-nos sua opinião.
                    li
                        h3
                            i.fa.fa-map-marker.fa-lg
                            &nbsp; Mapa
                        p Você precisa ir a um lugar desconhecido? Consulte a mapa de rede global que ajuda vocês a identificar os pontos próximos pela geo-localização.
                    li
                        h3
                            i.fa.fa-location-arrow.fa-lg
                            &nbsp; Itinerários
                        p Com o PFÔnibus, você tem a possibilidade de salvar seus itinerários os mais usados para ir pra escola, pro seu trabalho ou pra igreja por exemplo.
                    li
                        h3
                            i.fa.fa-gift.fa-lg
                            &nbsp; Contas Premium
                        p PFÔnibus oferece a pesquisa de horários e a consulta às informações de linha gratuitamente. Quer as vantagens superlegais das funcionalidades mais avançadas? Use uma conta Premium!
                    li
                        h3
                            i.fa.fa-wheelchair.fa-lg
                            &nbsp; Acessibilade
                        p Porque o aplicativo quer ser accessivel para qualquer nivel social, cultural e fisico, PFÔnibus não esqueceu as pessoas invalidas e lhe oferece uma experiência especial.
                    li
                        h3
                            i.fa.fa-users.fa-lg
                            &nbsp; Compartilhamento
                        p Uma das melhores funcionalidades, na minha opinião. Compartilhe seus itinerários com seus amigos, assim eles podem juntar-se a você!

