#usar
    .header
        .row
            .large-6.large-centered.columns
                img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104834/pfonibus01_m0umxm.png", alt="Facilita sua vida de Passo Fundense, use o aplicativo movel PFÔnibus, pesquise os horarios de ônibus em Passo Fundo.")
                p PFÔnibus facilita seu transporte de ônibus em Passo Fundo e leva as suas linhas e seus horários favoritos em seus bolsos. É simples assim!
    .etapas
        .row
            .large-12.columns
                h2.text-center Como usar PFÔnibus
                ul.small-block-grid-2
                    li
                        .large-6.columns
                            img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104831/icons_instalar_vs3v2r.png", alt="Instale o aplicativo PFÔnibus.")
                        .large-6.columns
                            h5 Instalar
                            p Baixe e instale o aplicativo no market do seu celular.
                    li
                        .large-6.columns
                            img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104830/icons_conta_tpnmd0.png", alt="Crie uma conta para aproveitar das funcionalidades superlegais do aplicativo PFÔnibus.")
                        .large-6.columns
                            h5 Criar uma conta
                            p Aproveite todas as funcionalidades criando sua conta.
                    li
                        .large-6.columns
                            img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104832/icons_pesquisar_sqbk1t.png", alt="Pesquise as linhas de ônibus em Passo Fundo com o aplicativo PFÔnibus.")
                        .large-6.columns
                            h5 Pesquisar
                            p Pesquise suas linhas e horários favoritos.
                    li
                        .large-6.columns
                            img(src="http://res.cloudinary.com/digitalz/image/upload/v1405104832/icons_salvar_mtb9xa.png", alt="Salve seus pontos Passo Fundenses favoritos para ter um acesso rapido.")
                        .large-6.columns
                            h5 Salvar
                            p Com uma conta, você pode salvar tudo em seus favoritos.
    .funcionalidade
        .row
            .large-12.large-centered.columns
                h2.text-center Funcionalidades
                ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
                    li
                        h3
                            i.fa.fa-info.fa-lg
                            &nbsp; Informações
                        p Informar-se é o coração do aplicativo. Consulte todas as informações de cada linha na tela detalhada.
                    li
                        h3
                            i.fa.fa-star.fa-lg
                            &nbsp; Favoritos
                        p Não quer perder tempo pesquisando sempre o mesmo ponto? Salve nos seus favoritos!
                    li
                        h3
                            i.fa.fa-flag.fa-lg
                            &nbsp; Acesso rápido
                        p PFÔnibus tem varias telas, você pode ganhar tempo graças a lista de acesso rápido.
                    li
                        h3
                            i.fa.fa-map-marker.fa-lg
                            &nbsp; Mapa
                        p Você precisa ir a um lugar desconhecido? Consulte a mapa de rede global que ajuda vocês a identificar os pontos próximos pela geo-localização.
                    li
                        h3
                            i.fa.fa-location-arrow.fa-lg
                            &nbsp; Itinerários
                        p Com o PFÔnibus, você tem a possibilidade de salvar seus itinerários os mais usados para ir pra escola, pro seu trabalho ou pra igreja por exemplo.
                    li
                        h3
                            i.fa.fa-wheelchair.fa-lg
                            &nbsp; Acessibilidade
                        p Porque o aplicativo quer ser accessivel para qualquer nivel social, cultural e fisico, PFÔnibus não esqueceu as pessoas invalidas e lhe oferece uma experiência especial.
                    li
                        h3
                            i.fa.fa-users.fa-lg
                            &nbsp; Compartilhamento
                        p Uma das melhores funcionalidades, na minha opinião. Compartilhe seus itinerários com seus amigos, assim eles podem juntar-se a você!
                     li
                        h3
                            i.fa.fa-gift.fa-lg
                            &nbsp; Contas Premium
                        p PFÔnibus oferece a pesquisa de horários e a consulta às informações de linha gratuitamente. Quer as vantagens superlegais das funcionalidades mais avançadas? Use uma conta Premium!
                     li
                        h3
                            i.fa.fa-pencil.fa-lg
                            &nbsp; Dê sua opinião
                        p Para melhorar-se, PFÔnibus precisa de você. Mande-nos sua opinião.
