#video
    .row
        .large-8.columns
            .video-content
                i.fa.fa-play-circle.fa-4x
        .large-4.columns
            h2 Assiste
            p Conheça o aplicativo assistindo a entrevista com o Leonardo, veja como veio a idéia, e como pode facilitar seu transporte em Passo Fundo.
            span.label.alert.radius Chega em breve!
