#video
    .row
        .large-8.columns
            .video-content
                i.fa.fa-play-circle.fa-4x
        .large-4.columns
            h2 Assiste
            p  Descobra o aplicativo na entrevista com o Leonardo, aprenda como veio a ideia e como este aplicativo vai ajudar você a melhorar seu transporte de ônibus.
                span.label.alert.radius Chega em breve!
