extends layout

block content
    div(class='wrapper')
        .inner-wrap
            div(ng-view, class="view-frame")

    // Loading libraries
    script(src='libs/vendor/jquery.js')
    script(src='libs/vendor/fastclick.js')
    script(src='libs/foundation.min.js')
    script $(document).foundation();

    // Loading App Scripts
    script(src='js/app.min.js')